---
layout: page
title: About
subtitle: Teach kids passion and to love the subject instead of "study for the test".
permalink: /about/
---

<h2>About this Blog</h2>
<p>A Simple Blog where I gather knowledge and random stuff. </p>


<h2>About me</h2>
<p>Weird dude, crazy mind, love to study and learn (hate bad teachers and broccoli). </p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-twitter"></i><a href="{{ " / " | relative_url }}"> I don't have twitter</a>
		</li>
		<li>
			<i class="fa fa-twitter"></i><a href="{{ " / " | relative_url }}"> I don't have facebook</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}

	
