---
layout: null
---
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<html>
  <head>
      
  {% include head.html %}

  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="10; url={{ site.baseurl }}">
  {% endif %}

  </head>
  
  {% include header.html %}

<header class="post-header">
	<center><div class="contact-title">{{ page.title }}</div>
		<div class="contact-subtitle"><p>{{ page.subtitle }}</p></div></center>
<!--<div class="wrapper">-->
    <center>      
		<p>
			<a class="link" href="{{ "/" | relative_url }}">Home</a> /
			<a class="link" href="{{ site.baseurl }}/archive/">Archive</a> /
			<a class="link" href="{{ site.baseurl }}/category/">Category</a> / 
			<a class="link" href="{{ site.baseurl }}/tags/">Tags</a> / 
			<a class="link" href="{{ site.baseurl }}/about/">About</a> /
			<a class="link" href="{{ site.baseurl }}/contact/">Contact</a>
    	</p>
    </center>
<!--</div>-->
</header>

<div class="wrapper">
	<div class="post-content">
		{{ content }}
	</div>
</div>

<footer>

{% include foot.html %}
{% include footer.html %}

</footer>
</html>